<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="author" content="<%= author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta name="twitter:card" content="<%= description %>" />
    <meta property="og:site_name" content="<%= siteName %>" />
    <meta name="twitter:image:alt" content="<%= imageAlt %>" />
    <meta name="twitter:site" content="@<%= twitterUserId %>" />

    <!-- Favicons
    ================================================== -->
    <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"> -->

    <!-- Stylesheet
    ================================================== -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Lato:400,700,900,300&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,900,300&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <style>
      .htmlHidden {
        display: none;
      }
    </style>
    <!-- <script type="text/javascript" src="js/modernizr.custom.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body
    id="page-top"
    data-spy="scroll"
    data-target=".navbar-fixed-top"
    class="htmlHidden"
  >
    <!-- Header -->
    <header id="header">
      <div class="intro background-filter">
        <div class="container u-non-blurred">
          <div class="row">
            <div class="intro-text">
              <h1>Hello, I'm <span class="name">Mayank Suman</span></h1>
              <p>Front End Engineer</p>
              <a href="#about" class="btn btn-default btn-lg page-scroll"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Navigation -->
    <div id="nav">
      <nav class="navbar navbar-custom">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-main-collapse"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"
              >Mayank Suman</a
            >
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse navbar-right navbar-main-collapse"
          >
            <ul class="nav navbar-nav">
              <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
              <li class="hidden"><a href="#page-top"></a></li>
              <li><a class="page-scroll" href="#about">About</a></li>
              <li><a class="page-scroll" href="#skills">Skills</a></li>
              <!-- <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li> -->
              <li><a class="page-scroll" href="#resume">Experience</a></li>
              <li><a class="page-scroll" href="#contact">Contact</a></li>
              <li>
                <a
                  class="page-scroll"
                  href="https://blog.mayanksuman.dev"
                  target="blank"
                  >Blog</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- About Section -->
    <div id="about">
      <div class="container">
        <div class="section-title text-center center">
          <h2>About Me</h2>
          <hr />
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="profile-image"></div>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <div class="about-text">
              <p>
                Hi 👋🏼, I am Mayank Suman a
                <a
                  href="https://www.linkedin.com/in/mayanksuman/"
                  target="_blank"
                  >frontend engineer</a
                >
                who is creating and fixing UIs for over 9 years. I am working as
                a Senior associate with
                <a href="https://www.simpplr.com/" target="_blank">Simpplr</a>.
                I am well-versed in technologies like HTML, CSS, JS and their
                related frameworks / Libraries like <strong>reactJS</strong>,
                etc. etc. and still curious to learn more in this flourishing
                web world.
              </p>
              <p>
                I’ve been playing around with these technologies for a while,
                you can walk into my
                <a href="https://github.com/mayank-suman/" target="_blank"
                  >github</a
                >
                ground. I worked on some cool side project like
                <b>
                  <a target="_blank" href="http://greatlakes.mayanksuman.dev/">
                    Great lakes
                  </a>
                </b>
              </p>
              <!-- Link resume here -->
              <p class="text-center">
                <a class="btn btn-primary" href="#"
                  ><i class="fa fa-download"></i> Download Resume</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Skills Section -->
    <div id="skills" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>Skills</h2>
          <hr />
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 skill">
            <span class="chart" data-percent="95">
              <span class="percent">95</span>
            </span>
            <h4>ES6/ Javascript</h4>
          </div>
          <div class="col-md-4 col-sm-6 skill">
            <span class="chart" data-percent="90">
              <span class="percent">90</span>
            </span>
            <h4>React/ Redux</h4>
          </div>
          <div class="col-md-4 col-sm-6 skill">
            <span class="chart" data-percent="85">
              <span class="percent">85</span>
            </span>
            <h4>HTML5/ CSS3/ SASS/ Flexbox</h4>
          </div>
          <div class="col-md-4 col-sm-6 skill">
            <span class="chart" data-percent="80">
              <span class="percent">80</span>
            </span>
            <h4>Webpack/ Gulp</h4>
          </div>
          <div class="col-md-4 col-sm-6 skill">
            <span class="chart" data-percent="80">
              <span class="percent">80</span>
            </span>
            <h4>Jest/ Mocha/ Enzyme</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section -->
    <div id="resume" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>Experience</h2>
          <hr />
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <h4>
                    Present<br />
                    - <br />
                    Apr 2019
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Simpplr</h4>
                    <h4 class="subheading">Senior front end developer</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Here worked on fabulous intranet project
                      <a href="https://www.simpplr.com" target="_blank">
                        Simpplr</a
                      >
                      which utilizes media in every possible way. The product is
                      based on reactJs, SASS, ES6, and other modern
                      technologies.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>
                    Apr 2019 <br />
                    - <br />
                    Jul 2016
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>RSG Media Systems</h4>
                    <h4 class="subheading">Senior software engineer</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Here I got Experience in media product with different
                      flavour which uses graphs and other representation tools
                      for better analysis. Here I got a chance to work on
                      nodeJs, vanilla JS and other frontend tech.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <h4>
                    Jul 2016 <br />
                    - <br />
                    Dec 2014
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>9.9 Media</h4>
                    <h4 class="subheading">UI developer</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Worked another good in-house media product
                      <a href="https://www.digit.in" target="_blank">
                        digit.in
                      </a>
                      based on vanilla JS, HTM and CSS.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>
                    Dec 2014 <br />
                    - <br />
                    May 2013
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Shopnineteen.com</h4>
                    <h4 class="subheading">UI developer</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Got my hands-on e-commerce projects and refined my JS,
                      jQuery, HTML and CSS skills.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <h4>
                    Mar 2012<br />
                    - <br />
                    Mar 2011
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Diametric Solutions</h4>
                    <h4 class="subheading">Web developer</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Here I started my career with media project using PHP,
                      HTML, CSS basics.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section-title center">
          <h2>Education</h2>
          <hr />
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <!-- Education Section-->

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>
                    2011 <br />
                    - <br />
                    2007
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Punjab Technical University</h4>
                    <h4 class="subheading">
                      Bachelor in technology, Computer Science
                    </h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      Learned some technical stuff this time. Algorithms, SDLC,
                      C++, etc.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <h4>
                    2007 <br />
                    - <br />
                    2004
                  </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Delhi Kannada School</h4>
                    <h4 class="subheading">High School</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Studied Maths, physics and chemistry and other stuff which
                      was important at that time.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Section -->
    <div id="contact" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>Contact</h2>
          <hr />
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <a
              href="mailto:mayankcsmn@gmail.com"
              target="blank"
              class="no-hover-color"
            >
              <i class="fa fa-envelope-o fa-2x"></i>
              <p>mayankcsmn@gmail.com</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="tel:+917838354342" class="no-hover-color">
              <i class="fa fa-phone fa-2x"></i>
              <p>+91 783 835 4342</p>
            </a>
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- Contact us -->
        <div class="col-md-8 col-md-offset-2">
          <div class="social">
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/in/mayanksuman/"
                  target="blank"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="https://github.com/mayank-suman/" target="blank"
                  ><i class="fa fa-github"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/mayanksuman7" target="blank"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container text-center">
        <div class="fnav">
          <p>Copyright &copy; 2021 Mayank Suman</p>
        </div>
      </div>
    </div>
  </body>
</html>
